{% extends "layout.html" %}
{% block head %}
<style>
    body {
        max-width: 960px;
        margin: auto;
        text-align: center;
    }
</style>
<script>
$(document).ready(function() {
    var newName = '' || $('#name').val();
    var newType = '' || $('#type').val();
    var newIP = '' || $('#ip').val();

    let Data = {
        name: newName,
        type: newType,
        ip: newIP,
    };

    $('#update').click(function() {
        console.log(Data);
        $.ajax({
            contentType: 'application/json',
            data: Data,
            type: 'PUT',
            success: function(result) {
                location.reload();
            }
        });
    });

    $('#delete').click(function() {
        $.ajax({
            type: 'DELETE',
            success: function(result) {
                location.reload();
            }
        });
    });
});

</script>
{% endblock %}
{% block body %}
<div class="form-group">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">IP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><input type="text" id="name" placeholder="{{ device.name }}"></th>
                <td scope="row"><input type="text" id="type" placeholder="{{ device.type }}"></td>
                <td scope="row"><input type="text" id="ip"   placeholder="{{ device.ip }}"></td>
            </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-primary" id="update">Change Device Settings</button>
<button class="btn btn-primary btn-danger" id="delete">Delete Device</button> </br>
<a style="text-align: center;" href="{{ url_for('list_functions') }}"> Page to call different functions</a>
{% endblock %}
