<!DOCTYPE html>
<html>
    <head>
        <title>Functions</title>
        <style>
            .center {
                max-width: 960px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h2 style="text-align: center;">Functions submitted for <span id="device"></span></h2>
            <table class="center">
                {% for s in scripts %}
                <tr>
                    <td><b style="text-decoration: underline blue; color: blue;"> {{ s }} </b></td>
                    <td><button id="state" onclick="run_script('{{s}}')"></button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <script>
        window.onload = function() {
            document.getElementById("device").innerText = document.cookie.split('=')[1];
        }

        var btnState = [{"state":"run", "color":"green"}, {"state":"wait", "color":"yellow"}, {"state":"stop", "color":"red"}];
        var i = 0;
        var defaultState = btnState[i];

        document.getElementById("state").innerText = defaultState['state'];
        document.getElementById("state").style.color = defaultState['color'];
        document.getElementById("state").style.borderColor = defaultState['color'];

        function run_script() {
            fetch();
        }
    </script>
    </body>
</html>