{% extends "layout.html" %}
{% block head %}
    <title>Functions</title>
    <style>
        .center {
            max-width: 960px;
            margin: auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 15px;
        }
    </style>
    <script>
        devicename = document.cookie
                    .split('=')[1];

        document.getElementById('device').innerHTML = devicename;
    </script>
{% endblock %}
{% block body %}
<div class="center">
    <h2 style="text-align: center;">Functions submitted for <span id="device"></span></h2>
    <table class="center">
        <thead>
            <tr>
                <th>Script</th>
                <th>Upload Time</th>
            </tr>
        </thead>
        <tbody>
        {% for s in scripts %}
        <tr>
            <td><b style="text-decoration: underline blue; color: blue;"> {{ s.scriptName }} </b></td>
            <td>{{ s.uploadTime }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}